header {
    position: fixed;
    top: 0%;
    padding: 20px;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(55, 79, 178);
    z-index: 9999999;
}

.logo {
    font-size: 34px;
    color: white;
}

.inp {
    border-radius: 16px;
    height: 30px;
    width: 200px;
    border: none;
    padding: 10px;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8pxwdwwdd;
}

.searchbtn {
    border-radius: 16px;
    height: 30px;
    border: none;
    padding: 10px;
}

select {
    border-radius: 16px;
    margin-left: 10px;
    height: 30px;
    border: none;
}

nav {
    max-width: 750px;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    gap: 10px;
    scroll-snap-type: x mandatory;
}


.btn {
    min-width: 180px;
    height: 30px;
    background-color: #2ec4f1;
    color: white;
    border-radius: 16px;
    border: none;
    scroll-snap-align: center;
}